<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{%url 'create2'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="text" name="title" id="title">
        <input type="text" name="title" id="title">
            <br><label for ="description">설명</label><br>
            <textarea name="description" id="description" rows="5" cols="40"></textarea>
            <br><input type="file" name="image" id="image">
            <input type="submit" value="제출">

    </form>
</body>
</html>